.info_container{
    background-color: #ffffff;
    border-radius: 8px;
    border: solid 2px #e8eaed;
    margin-top: 20px;
    padding: 0 20px 20px 20px;
}
.form{
    padding: 10px;
    border: 2px solid #e8eaed;
    border-radius: 8px;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.form label{
    font-weight: bolder;
    font-size: 16px;
}
.form select{
    margin-left: 10px;
}
.title{
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
}
.title input{
    border-radius: 6px;
    height: 30px;
    padding-left: 14px;
    border: solid 2px #dee1e8;
    background-color: #fafafa;
}
.description{
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
}
.description textarea{
    border-radius: 6px;
    height: 30px;
    padding-left: 14px;
    border: solid 2px #dee1e8;
    background-color: #fafafa;
}
.start_time{
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
}
.start_time input{
    width: 180px;
    border-radius: 6px;
    height: 30px;
    padding-left: 14px;
    border: solid 2px #dee1e8;
    background-color: #fafafa;
}
.end_time{
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
}
.end_time input{
    width: 180px;
    border-radius: 6px;
    height: 30px;
    padding-left: 14px;
    border: solid 2px #dee1e8;
    background-color: #fafafa;
}
.status{
    margin: 5px 0 5px 0;
}
.status select{
    border-radius: 6px;
    height: 30px;
    padding: 0 14px 0 14px;
    border: solid 2px #dee1e8;
    background-color: #fafafa;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button button{
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: rgb(23, 198, 0);
    color: #fff;
    margin: 5px;
    padding: 10px;
    border: solid 2px #dee1e8;
}
.button button:hover{
    background-color: rgb(83, 80, 228);
}