.footer{
    height: 80px;
    background: linear-gradient(180deg, #5bbdf6, #ceeafa);
}


.ft_inf{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ft_inf p{
    margin: 0;
}